{% extends 'base.html.twig' %}

{% block title %}
Actualités - {{ parent() }}
{% endblock %}

{% block body %}
<h1>Articles : </h1>
    <div class="card" style="width: 18rem;">
        <img src="https://agriculture.gouv.fr/sites/minagri/files/styles/affichage_pleine-page_790x435/public/14256_290.jpg?itok=CoSwDXfB" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">L'identification des animaux de compagnie, une obligation légale qui les protège</h5>
            <p class="card-text">L'identification peut être réalisée selon deux méthodes par des professionnels habilités :

                par un tatouage de lettres et de chiffres sur la peau de la face interne du pavillon de l’oreille ou à l’intérieur de la cuisse ;
                par une puce électronique de la taille d’un grain de riz, injectée sous la peau. Le code, composé de 15 chiffres, pourra être lu grâce à un lecteur spécial et permettra l’identification de l’animal.
                Quelle que soit la méthode, le principe est d’attribuer un numéro unique à chaque animal et de l’enregistrer dans
                un fichier national avec les coordonnées du propriétaire.</p>
                <p>Faciliter les recherches de l’animal
                    En cas de perte, la recherche d’un animal de compagnie est facilitée s’il a une identité. Un animal identifié a 90% de chances d’être rendu à son propriétaire, contre 15% seulement s’il ne l’est pas. Cela permet également de réduire les risques de vol.

                    Si l’animal de compagnie a disparu du domicile, il est alors considéré comme en divagation. Un animal non identifié peut être euthanasié s’il est conduit en fourrière ou stérilisé, à la demande du maire de la ville où il a été retrouvé.</p>
        </div>

{% endblock %}



