{% extends 'base.html.twig' %}

{% block title %}
    Animal Perdus, que faire ?- {{ parent() }}
{% endblock %}

{% block body %}
    <center><h2>Guide Animal Perdu. Que faire ?</h2></center><br>
    <p class="guide">
    <p>1. Faites un premier tour complet du quartier en appelant votre chat. Interpellez les différentes personnes à proximité : passants, voisins, commerçants... Agissez le plus rapidement possible pour que l'animal ne parte pas trop loin au fil des jours qui passent.</p><br>

    <p>2. Si votre animal est tatoué ou pucé, contacter le Fichier National d’identification des carnivores domestiques au 0 810 778 778. Il faut pour cela que votre chat soit identifié par tatouage ou puce électronique.

        Avant d’appeler, munissez-vous du numéro d’identification de votre chat. Vous pourrez ainsi signaler sa disparition.

        Vérifier également que les informations enregistrées au fichier d’identification sont toujours valides.</p><br>

    <p>3. Vérifiez qu'une personne n'a pas retrouvé votre chat en consultant la liste des chats trouvés.</p><br>

    <p>4. Inscrivez votre chat dans la liste des chats perdus.</p><br>

    <p>5. Imprimez des affiches. Vous pouvez directement imprimer des affiches une fois que vous avez créé votre annonce. Pour cela, consultez la page de votre annonce et cliquez sur le lien "imprimer une affiche".</p><br>

    <p>6. Informez les vétérinaires, mairies, gendarmeries, postes de police, fourrières, associations, facteurs, éboueurs, livreurs ambulants... en leur laissant également vos affiches.</p><br>

    <p>7. Placez votre affiche aux endroits stratégiques : abris bus, commerces, écoles...</p><br>

    <p>8. Un chat ne s'éloigne que très peu de son domicile. S'il est blessé ou effrayé, il se sera alors caché dans un coin sombre. Essayer de l'appeler le plus régulièrement possible aux moments les plus calmes de la journée.</p><br>

    <p>9. Ne perdez pas espoir, consultez la section des chats retrouvés.<p><br>
</p>

{% endblock %}



