{% extends 'base.html.twig' %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="title">
        <p>Bonjour et bienvenue sur le site d'Animaux Perdus</p>
    </div>

    <div class="descriptif">
        <p>Le but de cette application est de vous aider à retrouver votre animal disparu.</p>
    </div>

    <a class="btn btn-dark" href="{{ path('annonce_ajouter')}}" role="button" style="">Publier une annonce</a>
{% endblock %}



