{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block body %}

    <div class="title">
        <p>Bonjour et bienvenue sur le site d'Animaux Perdus</p>
    </div>

    <center>
    {% if app.user %}
        <a class="btn btn-success btn-lg" aria-current="page" href="{{ path('annonce_new')}}">Publier une annonce</a>
        <a class="btn btn-secondary btn-lg" href="{{ path('annonce_index')}}" role="button" style="">Effectuer une recherche</a>
    {% else %}
        <a class="btn btn-success btn-lg" aria-current="page" href="{{ path('app_login') }}">Publier une annonce</a>
        <a class="btn btn-secondary btn-lg" href="{{ path('annonce_index')}}" role="button" style="">Effectuer une recherche</a>
    {% endif %}

</center>


{% endblock %}



