body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.title {
    padding: 1rem 0;

    font-style: oblique;
    font-size: 35px;
    text-align: center;
}
#listeAnnonce{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 5px;
}
.container {
    margin: auto;
    padding: 0 10px;
}
header {
    background-color: #05668d;
    padding: 1rem 0;
}
header h1 {
    margin: 0 0 10px 0;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-logo img {
    margin-left: 50px;
    max-width: 150px;
    margin-right: 5px;
}


header a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}
header nav a:hover {
    font-family: "Arial Black";
}

.header-nav {
    display: flex
}
header h1 {
    flex: 1;
    margin: 0 0 10px 0;
}

.header-nav a {
    margin-right: 3rem;
}


footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #028090;
}