{% extends 'base.html.twig' %}

{% form_theme formAnnonce "bootstrap_5_horizontal_layout.html.twig" %}

{% block title %}
Créer une annonce - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Créer une annonce</h1>
    {{ form(formAnnonce) }}



{% endblock %}






