{% extends 'base.html.twig' %}
{% form_theme form "bootstrap_5_horizontal_layout.html.twig" %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-dark" href=" {{ path('user_show', {id: app.user.id}) }}">Retour</a>

{% endblock %}
